* {
  box-sizing: border-box;
}
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'PT Sans', sans-serif;
}
a { color: inherit;
}
h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 144px;
    color: #9F9;
    margin-left: 584.5px;
    margin-top: 271px;
}
h2 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 45px;
    color: black;
    margin-left: 886px;
    margin-top: -650px;
}
p {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 45px;
  color: #9F9;
  margin-left: 584.5px;
  margin-top: -650px;
}
<style media="screen">
  body {
    font-family: 'Roboto Mono', monospace;
  }
  h1, h2, h3, h4, p, ul, ol, blockquote, hr {
    margin: 0 auto;
    width: 800px;
  }
  img {
    width: 1020px;
    margin: 0 auto;
    display: block;
  }
</style>
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  border-bottom: .5px solid #aaa;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
}
/* .menubar a {
  height: 20px;
  color: #aaa;
  text-decoration: none;
}
.menubar img{
  height: 80%;
  width: auto;
  margin-top: 0px;
} */
